<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./login-reg.css">
</head>
<body>
  <div class="box">
    <form action="">
      <img src="logo.png" alt="logo">
      <h2>ДОБРО ПОЖАЛОВАТЬ!</h2>
      <h4>Зарегистрируйтесь, заполнив информацию.</h4>
      <input type="email">
      <input type="password" name="" id="password" placeholder="Пароль" onkeyup='check();'>
      <input type="password" name="" id="confirm_password" placeholder="Повторите пароль" onkeyup='check();'>
      <input type="text" name="" id="name" placeholder="Полное имя">
      <input type="tel" name="" id="" placeholder="Телефон">
      <button>Подтвердить</button>
      <script>
        var check = function() {
          if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
            document.getElementById('password').style.backgroundColor = 'green';
            document.getElementById('confirm_password').style.backgroundColor = 'green';
          } else {
            document.getElementById('password').style.backgroundColor = 'red';
            document.getElementById('confirm_password').style.backgroundColor = 'red';
          }
        }
      </script>
    </form>
  </div>
</body>
</html>