@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html, body {
  margin:0px;
  align-items: center;
}

img {
  width: 100px;
}
.box {
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

input {
  flex: 1;
}