<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="./side-main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
  <div id="header">
    <div id="logo">
      <img src="logo.png" style="width: 45%; background-color: rgb(24, 24, 36);">
    </div>
    <div id="header-info">
      <div id="balance">
        <h2>Баланс:</h2>
        <input type="number" class="balance-nums" readonly="true" value="100.00">
        <h2 style="margin-right: 1%;">Доступно:</h2>
        <input type="number" class="balance-nums" readonly="true" value="100.00">
        <h2>Профит:</h2>
        <input type="number" class="balance-nums" readonly="true" value="00.00">
      </div>
      <div id="deposit">
        <button id="deposit-button">
          Депозит</button>
      </div>
    </div>
  </div>
  <div id="body">
    <div id="sidebar">
      <div id="side-main-menu">
        <div id="side-trade">
          <ion-icon name="stats-chart-sharp"></ion-icon>
          <button class="side-button">
            Торговля
          </button>
        </div>
        <div id="side-assets">
          <ion-icon name="list"></ion-icon>
          <button class="side-button">
            Позиции
          </button>
        </div>
        <div id="side-account">
          <ion-icon name="person-circle"></ion-icon>
          <button class="side-button">
            Аккаунт
          </button>
        </div>
      </div>
      <div id="side-out-menu">
        <div id="side-out-extra">
          <ion-icon name="information-circle"></ion-icon>
          <button class="side-out-button">
            Помощь
          </button>
        </div>
        <div id="side-logout">
          <ion-icon name="log-out"></ion-icon>
          <button class="side-out-button">
            Выход
          </button>
        </div>
      </div>
    </div>
    <div id="content">
      <div id="trade">
        <div id="newOrder">
          <div id="newOrderData">
            <h2 style="margin: 0; width: 70%; height: 7%; margin-top: 4%; margin-bottom: 7px; margin-left: 15%; font-weight: 500;
             border-radius: 3px;">Детали сделки</h2>
            <form id="newOrderForm" >
              <label for="symbol-input">Символ</label>
              <input type="text" id="symbol-input" name="symbolInput" placeholder="Поиск..." required>
              <div id="symbol-dropdown" class="dropdown"></div>
              <label for="symbol-current-value">Цена</label>
              <input type="number" id="symbol-current-value" name="symbolCurrentValue" readonly="true" required>
              <label for="symbol-amount">Объём</label>
              <input type="number" id="symbol-amount" name="symbolAmount" value="0.00" max="100" required>
              <label for="stop-loss">SL</label>
              <input type="number" id="stop-loss" name="stopLoss" required>
              <label for="take-profit">TP</label>
              <input type="number" id="take-profit" name="takeProfit" required>
              <button class="newOrderButton" id="buyButton">Купить</button>
              <button class="newOrderButton" id="sellButton">Продать</button>
            </form>
            <script src="./binance-api-symbols.js"></script>
            <script src="./order-form.js"></script>
          </div>
        </div>
        <div id="chart">
          <div class="tradingview-widget-container">
            <div id="tradingview_c902b">
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript" src="tradingview.js"></script>
            </div>
          </div>
        </div>
        <div id="assets">
          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "1D",
  "showChart": false,
  "locale": "ru",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "",
  "isTransparent": true,
  "showSymbolLogo": true,
  "showFloatingTooltip": false,
  "tabs": [
  {
      "title": "Форекс",
      "symbols": [
        {
          "s": "FX:EURUSD",
          "d": "EUR to USD"
        },
        {
          "s": "FX:GBPUSD",
          "d": "GBP to USD"
        },
        {
          "s": "FX:USDJPY",
          "d": "USD to JPY"
        },
        {
          "s": "FX:USDCHF",
          "d": "USD to CHF"
        },
        {
          "s": "FX:AUDUSD",
          "d": "AUD to USD"
        },
        {
          "s": "FX:USDCAD",
          "d": "USD to CAD"
        }
      ],
      "originalTitle": "Forex"
    },
    {
      "title": "Индексы",
      "symbols": [
        {
          "s": "FOREXCOM:SPXUSD",
          "d": "S&P 500"
        },
        {
          "s": "FOREXCOM:NSXUSD",
          "d": "US 100"
        },
        {
          "s": "FOREXCOM:DJI",
          "d": "Dow 30"
        },
        {
          "s": "INDEX:NKY",
          "d": "Nikkei 225"
        },
        {
          "s": "INDEX:DEU40",
          "d": "DAX Index"
        },
        {
          "s": "FOREXCOM:UKXGBP",
          "d": "UK 100"
        }
      ],
      "originalTitle": "Indices"
    }
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->
          <!-- <table>
            <thead class="sticky-header">
              <tr>
                <th>Cимвол</th>
                <th>Продажа</th>
                <th>Покупка</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
              <tr>
                <td>AUDCAD</td>
                <td>0.91</td>
                <td>0.92</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
      <div id="orders">
        <table>
          <thead class="sticky-header">
            <tr>
              <th>ID</th>
              <th>Дата</th>
              <th>Символ</th>
              <th>Тип</th>
              <th>Объём</th>
              <th>Цена</th>
              <th>SL/TP</th>
              <th>Статус</th>
              <th>Прибыль</th>
            </tr>
          </thead>
          <tbody id="dataBody" class="table-body">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>