@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-textc: rgb(166, 166, 166);
  --main-input-textc: whitesmoke;
  --main-numbersc: rgba(0, 200, 120, 1);
  --bs-emphasis-color: rgba(0, 200, 120, 1);
  --bs-link-hover-color: rgba(0, 200, 120, 1);
  --bs-body-bg: #11131a;
  --main-elc: #1e222d;
  --main-bluec: rgb(0, 106, 255);
  --seco-grayc: rgb(175, 175, 175);
  --bs-border-color: rgb(24, 24, 36);

  --highcharts-background-color: #000;
  --highcharts-neutral-color-100: #fff;
  --highcharts-neutral-color-80: #ccc;
  --highcharts-neutral-color-60: #999999;
  --highcharts-neutral-color-20: #333333;
  --highcharts-neutral-color-10: #191919;
  --highcharts-neutral-color-3: #080808;
  --highcharts-highlight-color-80: #cca352;
}

.light {
  --main-textc: #1e222d;
  --main-input-textc: #11131a;
  --bs-body-bg: whitesmoke;
  --main-elc: #e2e8f0;
  --bs-border-color: whitesmoke;

  /* reset highchart popup colors */
  --highcharts-background-color: #fff;
  --highcharts-neutral-color-100: #000;
  --highcharts-neutral-color-80: #333333;
  --highcharts-neutral-color-60: #666666;
  --highcharts-neutral-color-20: #cccccc;
  --highcharts-neutral-color-10: #e6e6e6;
  --highcharts-neutral-color-3: #f7f7f7;
  --highcharts-highlight-color-80: #335cad;
}

* {
  margin: 0;
  padding: 0;
  color: var(--main-input-textc);
  background-color: var(--main-elc);
  /* font-family: sans-serif; */
}

html {
  font-size: 11px;
}

body {
  position: relative;
  height: 100vh;
  background-color: var(--bs-body-bg);
}

#root {
  height: 100%;
  background-color: var(--bs-body-bg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#faq h2 {
  color: var(--main-textc);
  font-size: 17px !important;
  margin-top: 1.66%;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
  flex: 1;
  text-align: center;
}

h4 {
  color: var(--main-numbersc);
}

h6 {
  color: var(--main-textc);
}

.btn-success {
  --bs-btn-bg: var(--main-numbersc);
}

label {
  font-weight: 500;
  /* font-size: 14px; */
  color: var(--main-textc);
}

#newOrderForm label {
  margin-top: 6px;
}

input {
  margin-top: 1%;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 5px;
  height: 24px;
  padding: 4px;
  color: var(--main-input-textc);
  text-align: center;
}
input:focus-visible {
  outline: 2px solid var(--seco-grayc);
}

.hidden {
  display: none;
}

#header {
  display: flex;
  height: 10%;
  /* flex-direction: row; */
  /* flex: 1; */
  /* height: 100%; */
  /* border-radius: 5px; */
  /* margin: 0; */
  /* padding: 0; */
}

#main-container {
  display: flex;
  height: 90%;
}

#logo {
  display: flex;
  width: 100px;
  border: 2px solid var(--bs-border-color); /* Example border style */
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-body-bg);
  margin-left: 2px;
}

#header-info {
  display: flex;
  flex-direction: row;
  flex: 11;
  background-color: var(--bs-body-bg);
  border: none;
  margin: 2px;
  margin-left: 4px;
  border-radius: 3px;
}

#balance {
  display: flex;
  flex-direction: row;
  border: 3px solid var(--bs-border-color);
  border-radius: 10px;
  margin-right: 35px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  justify-content: space-between;
  width: 100%;
}

.balance-item {
  /* height: 100%; */
  /* margin: 0; */
  /* padding: 0; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
  border-right: 2px solid var(--bs-border-color);
}

#balance-item-lang {
  flex: 0.5;
}

.balance-nums {
  /* margin-block: 2%; */
  width: 44%;
  /* font-size: 12px; */
  color: var(--main-numbersc);
  text-align: center !important;
  outline: none;
}

.balance-title {
  margin: 0;
  /* margin-top: 3%; */
  font-size: 1rem;
  color: var(--main-textc);
}

.lang-flag:hover {
  box-shadow: 0px 0px 15px rgba(3, 82, 253, 0.4);
}

#deposit {
  display: flex;
  flex: 1;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  padding: 0;
  background-color: var(--bs-body-bg);
}

#sidebar {
  display: flex;
  flex-direction: column;
  /* max-width: 120px; */
  border: 2px solid var(--bs-border-color);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  background-color: var(--bs-body-bg);
  width: 100px;
  /* min-width: 100px; */
}

#side-main-menu {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-bottom: 10%;
  border-radius: 10px;
  border: 3px solid var(--bs-border-color);
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  width: 90%;
  justify-content: space-evenly;
}

#side-out-menu {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-top: 5%;
  margin-bottom: 7%;
  border-radius: 5px;
  border: 3px solid var(--bs-border-color);
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  width: 85%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.side-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-icon,
button {
  transition: color 0.3s ease;
}

#side-out-extra,
#side-logout {
  flex: 1;
  margin: 0;
  margin-top: 25%;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-button {
  border: none;
  border-radius: 3px;
  height: 35%;
  width: 75%;
  color: var(--main-input-textc);
  margin: 0;
}

/* .side-button:hover,
.side-out-button:hover {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px var(--main-numbersc);
  width: 86px;
  font-weight: bold;
} */

.side-btn:hover,
#side-out-extra:hover,
#side-logout:hover {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px var(--main-numbersc);
  /* width: 86px; */
  font-weight: bold;
}

.side-out-button {
  border: none;
  border-radius: 3px;
  height: 50%;
  width: 75%;
  color: var(--main-input-textc);
  margin: 0;
}

#faq {
  height: 100%;
  margin: 10px;
  padding: 50px;
  /* color: white; */
  /* line-height: 1.5em; */
}

#content {
  border: 2px solid var(--bs-border-color);
  border-radius: 5px;
  background-color: var(--bs-body-bg);
  width: calc(100% - 100px);
}

#account {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 5px;
  background-color: var(--bs-body-bg);
  margin: 10px;
}

#account-profile,
#account-info {
  flex: 2;
  background-color: var(--main-elc);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  display: flex;
  flex-direction: column;
}

#acc-img-placeholder {
  flex: 0.5;
  width: 40%;
  margin-top: 8%;
  margin-bottom: 1%;
  cursor: pointer;
}

#acc-profile-main,
#acc-info-personal {
  width: 80%;
  border-top: 1px solid var(--bs-body-bg);
  margin-top: 3%;
  margin-bottom: 7%;
}

.acc-profile-main-item,
.acc-info-personal-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 7%;
  color: var(--main-textc);
}

.acc-info-personal-item input {
  width: 140px;
  margin-top: -1px;
  color: var(--main-textc);
}
.acc-info-personal-item {
  font-size: 13px;
}
.acc-info-personal-item h6 {
  /* font-size: 15px; */
}

.acc-profile-main-item {
  font-size: 13px;
}
.acc-profile-main-item h6 {
  /* font-size: 15px; */
}

#documents-button {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgb(33, 101, 249);
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
}

#account-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

acc-info-personal h3 {
  flex: 0.5;
}

#acc-info-buttons,
#verif-buttons {
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 1px solid var(--bs-body-bg);
  margin-bottom: 20px;
}

#acc-edit-button,
#acc-save-button {
  flex: 1;
  width: 130px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgb(33, 101, 249);
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
}

#account-transactions {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: var(--main-elc);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}

#trans-his,
#transaction-request {
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#trans-his {
  flex: 4;
  max-height: 340px;
  border: 1px solid var(--bs-border-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(17, 17, 23, 0.5);
  width: 88%;
  margin-bottom: 5%;
  overflow: auto;
}

#transactions-his-table {
  max-height: 340px;
  overflow-y: auto;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

#transactions-t-body {
  font-size: 12px;
}

#transaction-request {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 1px solid var(--bs-border-color);
}

#deposit-button {
  border: 2px solid rgb(0, 81, 255);
  border-radius: 10px;
  height: 45px;
  width: 150px;
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
  margin-right: 5%;
}

#deposit-button:hover,
#documents-button:hover,
#withdraw-request-button:hover,
#acc-edit-button:hover,
#acc-save-button:hover {
  cursor: pointer;
  background-color: var(--main-bluec);
  box-shadow: 0px 4px 8px rgba(3, 82, 253, 0.4);
}

#deposit-button:active,
#documents-button:active,
#withdraw-request-button:active,
#acc-edit-button:active,
#acc-save-button:active {
  opacity: 50%;
}

#withdraw-request-button {
  border: 2px solid rgb(0, 81, 255);
  border-radius: 10px;
  height: 45px;
  width: 150px;
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
  margin-left: 5%;
}

#withdraw-amount,
#withdraw-card {
  margin: 0;
  padding: 0;
  flex: 1;
  margin-bottom: 2%;
  width: 50%;
}

#trade {
  display: flex;
}

#newOrder {
  /* flex: 1; */
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  overflow: auto;
}

#newOrderData {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  height: 100%;
}

#newOrderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--bs-border-color);
}
.custom-caret-up-icon,
.custom-caret-down-icon {
  display: flex;
}
.custom-caret-up-icon .fa-caret-up path {
  color: lime !important;
}
.custom-caret-down-icon .fa-caret-down path {
  color: red !important;
}
.order-actions {
  display: flex;
  padding: 3px 10px;
}
.order-actions .custom-delete-icon {
  margin-left: 5px;
}
.order-actions .custom-delete-icon .fa-xmark {
  font-size: 15px;
}
/* Updated Modal Styling with Dark Grey Background Opacity */
.modal-style-edit .modal-dialog-centered {
  background-color: transparent;
}
.modal-style-edit .modal-content {
  border: 2px solid var(--bs-border-color);
  border-radius: 0;
  padding: 0.2rem !important;
}
.modal-style-edit .btn-close {
  margin-left: auto;
  margin-right: 0.2rem !important;
}
.modal-style-edit .modal-body {
  margin: 0.5rem;
}

.modal-content .light .btn-close {
  filter: unset !important;
}

.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.order-modal {
  background-color: #605e5e;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px; /* Adjust the maximum width */
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.9s, transform 0.3s;
}

.columns-modal {
  right: 2%;
  bottom: 15%;
}

/* Hide the modal when it's closed */
.order-modal-hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}
.fWGDho div:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.order-column {
  width: 100% !important;
  height: 100% !important;
}

.newOrderButton {
  width: 140px;
}
.newOrderButton:hover {
  font-weight: bold;
}

#chart {
  flex: 3;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  overflow: hidden;
  /* height: max-content; */
}

#assets {
  border: 2px solid var(--bs-border-color);
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}

#nav-buttons button {
  color: var(--main-textc);
  border-radius: 10px;
  border: 1px solid var(--bs-border-color);
  height: 28px;
  width: 140px;
  background-color: var(--bs-body-bg);
  box-shadow: 0px 0px 4px var(--seco-grayc);
  cursor: pointer;
}

#nav-buttons button:hover {
  box-shadow: 0px 0px 4px var(--main-numbersc);
  font-weight: bold;
}

#nav-buttons button.active {
  font-weight: bold;
  color: var(--main-numbersc);
  border: 1px solid rgb(0, 255, 110);
  box-shadow: 0px 0px 4px var(--main-numbersc);
}

#assetDeleteIcon {
  border: 1px solid var(--bs-border-color);
}
#assetDeleteIcon:hover {
  box-shadow: 0px 0px 4px var(--main-numbersc);
}

#orders {
  flex: 2;
  border: 1px solid var(--bs-border-color); /* Example border style */
  border-radius: 1px;
  /* max-height: 150px; Set the maximum height of the container */
  overflow: auto; /* Add a scrolling bar when content overflows */
  position: relative;
  /* height: 100%; */
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  display: flex;
  flex-direction: column;
}
#orders nav {
  background-color: transparent !important;
}

.container {
  max-width: 2048px;
}

.text-center {
  text-align: center !important;
}

.nav-link {
  color: var(--main-textc);
}

.nav-link.active {
  color: green; /* Set the text color for the active tab */
}

/* Apply some basic styling to the table */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--bs-body-bg);
  padding: 0;
  margin: 0;
  table-layout: auto;
  /* font-size: 14px; */
}

orders-table {
  max-height: 100%; /* Set the maximum height of the container */
}

.sticky-header {
  position: sticky;
  /* border: 3px solid var(--bs-border-color); */
  top: 0;
  background-color: whitesmoke; /* Ensure header remains visible */
  z-index: 100; /* Ensure header is above table rows */
}

th,
td {
  border: 1px solid var(--main-elc);
  padding: 8px;
  text-align: left;
  color: var(--main-textc);
  background-color: var(--bs-body-bg);
  margin: 0;
  white-space: nowrap; /* Prevent content from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for hidden content */
}

/* Adjust position of table body to accommodate fixed header */
.table-body {
  margin-top: 40px; /* Adjust this value based on the header height */
}

/* ionic icons */
ion-icon {
  color: lightgray;
  width: 35px;
  height: 35%;
  margin: 0;
  padding: 0;
}

.active {
  /* Change the background color to indicate it's active */
  color: var(--main-numbersc);
  font-weight: bold; /* Optionally, make the text bold for emphasis */
}

/* Style for binance-api-symbols */
/* .dropdown {
  max-height: 180px;
  max-width: 100px;
  overflow-y: auto;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: rgb(32, 32, 43);
  z-index: 2;
}

.dropdown-option {
  padding: 5px;
  cursor: pointer;
} */

thead {
  position: sticky;
  top: 0;
  background-color: white; /* Set the desired background color */
  z-index: 1;
}
/* MODALs */

/* Styles for the modal overlay */
#symbol-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
  z-index: 5; /* Ensure it's on top of other content */
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
}

/* Styles for the dropdown within the modal */
#symbol-dropdown {
  max-height: 180px;
  max-width: 100px; /* Adjust as needed */
  overflow-y: auto;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.login_form {
  -ms-transform: translate(-50%, -50%);
  background-color: #1a1c22;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  left: 50%;
  padding: 4% 5% 2% 5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.login_form h1 {
  background-color: #1a1c22;
  margin-bottom: 24px;
}

.login_other {
  background-color: #1a1c22;
  margin-bottom: 5rem;
}

.signup_form {
  -ms-transform: translate(-50%, -50%);
  background-color: #1a1c22;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  left: 50%;
  padding: 4% 5% 2% 5%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

#signup_logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 75px;
}

.signup_title {
  background-color: #1a1c22;
  margin-bottom: 24px;
}

.fields {
  align-items: center;
  background-color: #1a1c22;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

.email_input,
.psw_input,
.name_input {
  background-color: #25272d;
  color: #fff;
  margin: 4px 0;
  text-align: left;
  outline: none;
  padding: 18px;
  width: 100%;
}

.name_input::placeholder,
.email_input::placeholder,
.psw_input::placeholder {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.button {
  align-self: center;
  background-color: #1fcb4f;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 12px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;
}

.button:hover {
  opacity: 80%;
}

.button:active {
  opacity: 50%;
}

.or_text::before {
  background-color: #1a1c22;
  color: #fff;
  content: "or";
  left: 50%;
  padding: 0 16px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.signup_text::before {
  background-color: #1a1c22;
  color: #fff;
  content: "Don't have an account?";
  left: 50%;
  padding: 0 16px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.login_text::before {
  background-color: #1a1c22;
  color: #fff;
  content: "Do you have an account?";
  left: 50%;
  padding: 0 16px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.sign_up_link {
  align-self: center;
  border-radius: 5px;
  border: 1px solid #1fcb4f;
  color: #1fcb4f;
  font-size: 12px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;
}

.sign_up_link:hover {
  opacity: 80%;
}

.sign_up_link:active {
  opacity: 50%;
}

.login_wrapper,
.signup_wrapper {
  background-color: #1a1c22;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.login_link {
  align-self: center;
  border-radius: 5px;
  border: 1px solid #1fcb4f;
  color: #1fcb4f;
  font-size: 12px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;
}

.login_link:hover {
  opacity: 80%;
}

.login_link:active {
  opacity: 50%;
}

.flag_theme {
  align-items: center;
  background-color: #1a1c22;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.flag_theme > * {
  background-color: #1a1c22;
  margin: 0 8px;
}

.flag_toggle::after {
  display: none;
}

.theme_button {
  border: none;
}

.btn-close {
  filter: var(--bs-btn-close-white-filter);
}
h4 {
  color: var(--main-numbersc);
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}
.modal-dialog {
  width: 100%;
}
.iCBOUB svg path,
.iCBOUB svg circle {
  color: var(--main-numbersc);
}

.greyBtn {
  background-color: var(--bs-body-bg);
  color: var(--main-input-textc);
}

.disabled {
  opacity: 0.7;
}

.css-qbdosj-Input {
  background-color: transparent !important;
}
.Toastify__toast-theme--dark {
  background-color: gray !important;
  margin-top: 10px;
}
.Toastify__toast-container--top-right {
  background-color: transparent !important;
  margin-bottom: 10px;
}
.Toastify__toast-body {
  background-color: gray !important;
}
.Toastify__toast-body > div:last-child {
  background-color: gray !important;
}
.Toastify--animate-icon {
  background-color: gray !important;
}
.cursor-pointer {
  cursor: pointer !important;
}

#timezone {
  outline: none;
  /* font-size: 14px; */
  font-weight: 500;
}

#timeframe {
  color: rgb(51, 51, 51);
  /* font-size: 14px; */
  margin-left: 4rem;
}

#timeframe button {
  border: none;
  padding-inline: 4px;
  margin-inline-start: 4px;
}
#timeframe button.selected {
  background-color: var(--highcharts-neutral-color-20);
}
#timeframe button:hover {
  background-color: var(--highcharts-neutral-color-20);
}

/* button,
input,
optgroup,
select,
textarea {
  font-size: 0.9rem;
} */

#resize-bar {
  background-color: var(--main-textc);
  border-radius: 2px;
  cursor: n-resize;
  height: 4px;
  width: 10%;
}
