.container {
  display: inline-block; /* or display: block; depending on your layout */
  position: relative;
  border: 2px solid salmon;
}

.icon,
.btn {
  transition: color 0.3s ease; /* Add a smooth color transition effect */
}

.container:hover .icon,
.container:hover .btn {
  color: red; /* Change to the desired color when hovering */
}


.btn:active {
  border: 1px solid red;
  background-color: indianred;
}