.reportTab {
  max-height: 10vh;
}

.greenText {
  color: green;
}
.orangeText {
  color: orange;
}

.redText {
  color: red;
}

.innerTradingDiv {
  min-height: 45vh;
  max-height: 45vh !important;
}

.reports-modal .tab-content > div > div > div > div {
  background-color: unset;
}
.reports-modal .tab-content > div nav,
.reports-modal .tab-content > div nav *,
.transactions-table nav,
.transactions-table nav * {
  background-color: var(--main-bgc);
}
.transactions-table > div > div > div {
  background-color: unset;
}
